<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1." />
  <title>Dimension</title>
  <!-- <link rel="stylesheet" href="/stylesheets/inspection/visual.css"> -->
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 10px;
      margin: 0;
      padding: 0;
    }

    .visual {
      width: 210mm;
      min-height: 297mm;
      margin: 0 auto;
      box-sizing: border-box;
      background: #fff;
      border: 2px solid black;
    }


    td input {
      width: 100%;
      border: none;
      font-size: 10px;
      box-sizing: border-box;
      color: black;
    }

    #date,
    #design,
    #colour,
    #mc_no,
    #batch_number,
    #logo,
    #mc_speed,
    #rm {
      width: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .heading table td {
      border: 1px solid black;
      padding: 2.5px;
      text-align: center;
      vertical-align: middle;
      width: 8vw;
    }

    .body table td {
      border: 1px solid black;
    }

    .time,
    .obdefect,
    .teband {
      width: 35px;
      cursor: pointer;
      text-align: center;
    }

    .defect-found {
      color: red;
    }

    button {
      width: 100%;
      background-color: rgb(189, 226, 189);
      border: none;
      cursor: pointer;
    }




    @media print {
      .no-print {
        display: none !important;
      }
    }
  </style>
</head>

<body>
  <div class="no-print">

  </div>
  <div class="visual">
    <div class="heading">
      <table class="tbCCM">
        <tbody>
          <tr>
            <td colspan="3" rowspan="2">
              Doc No. <br />
              <%=docDetail? docDetail.docNo: "" %>
            </td>
            <td colspan="9">Secure Industries Pvt. Ltd. Hyderabad</td>
            <td colspan="3">Rev. No. <%=docDetail? docDetail.revNo: "" %>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <%=docDetail? docDetail.docName: "" %>
            </td>

            <td colspan="3">Rev. Dt. <%=docDetail? docDetail.revDt: "" %>
            </td>
          </tr>
          <tr>
            <td colspan="4">Date: <input type="text" id="date" name="date" required /> </td>
            <td colspan="4">Design: <input type="text " id="design"
                value="<%=latestBatches? latestBatches.design : ''%>"> </td>
            <td colspan="4">DB/EM/PL: <input type="text" id="logo"
                value="<%=latestBatches? latestBatches.debossed : ''%>"></td>
            <td colspan="3">M/C No.: <input type="text" id="mc_no" value="<%=mcId? mcId:''%>"></td>

          </tr>
          <tr>
            <td colspan="4">Batch No.: <input type="text" id="batch_number"
                value="<%=latestBatches? latestBatches.batch_number : ''%>"> </td>
            <td colspan="4">R/M: <input type="text" id="rm" value="<%=latestBatches? latestBatches.rm : ''%>"> </td>
            <td colspan="4">Colour: <input type="text" id="colour" value="<%=mb_detail? mb_detail.mb_colour : ''%>" />
            </td>
            <td colspan="3"> M/C Speed: <input type="text" id="mc_speed"
                value="<%=latestBatches? latestBatches.mc_speed : ''%>"></td>

          </tr>


          <tr>
            <td colspan="2"></td>
            <td colspan="5">
              <button id="shiftA" onclick="sendShiftData('shiftA')">
                Shift A
              </button>
            </td>
            <td colspan="4">
              <button id="shiftB" onclick="sendShiftData('shiftB')">
                Shift B
              </button>
            </td>
            <td colspan="4">
              <button id="shiftC" onclick="sendShiftData('shiftC')">
                Shift C
              </button>
            </td>
          </tr>

          <tr>
            <td colspan="2">Parameter</td>
            <td>Weight<br>(In gm)</td>
            <td>Height<br>(In mm)</td>
            <td>Kn. Dia.<br>(In mm)</td>
            <td>T.T<br>(In mm)</td>
            <td>T.F<br>(In mm)</td>
            <td></td>
            <td>Weight<br>(In gm)</td>
            <td>T.T<br>(In mm)</td>
            <td>T.F<br>(In mm)</td>
            <td></td>
            <td>Weight</td>
            <td>T.T<br>(In mm)</td>
            <td>T.F<br>(In mm)</td>
          </tr>
          <tr>
            <td colspan="2">USL</td>
            <td>
              <%= spec ? (Number(spec.cl_wt_spec || 0) + Number(spec.cl_wt_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.cl_ht_spec || 0) + Number(spec.cl_ht_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.cl_kn_spec || 0) + Number(spec.cl_kn_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.thickness || 0) + Number(spec.thickness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.top_flatness || 0) + Number(spec.top_flatness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td></td>
            <td>
              <%= spec ? (Number(spec.cl_wt_spec || 0) + Number(spec.cl_wt_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.thickness || 0) + Number(spec.thickness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.top_flatness || 0) + Number(spec.top_flatness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td></td>
            <td>
              <%= spec ? (Number(spec.cl_wt_spec || 0) + Number(spec.cl_wt_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.thickness || 0) + Number(spec.thickness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.top_flatness || 0) + Number(spec.top_flatness_tol || 0)).toFixed(2) : '' %>
            </td>
          </tr>

          <tr>
            <td colspan="2">NOMINAL</td>
            <td>
              <%= spec ? Number(spec.cl_wt_spec || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.cl_ht_spec || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.cl_kn_spec || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.thickness || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.top_flatness || 0).toFixed(2) : '' %>
            </td>
            <td></td>
            <td>
              <%= spec ? Number(spec.cl_wt_spec || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.thickness || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.top_flatness || 0).toFixed(2) : '' %>
            </td>
            <td></td>
            <td>
              <%= spec ? Number(spec.cl_wt_spec || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.thickness || 0).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? Number(spec.top_flatness || 0).toFixed(2) : '' %>
            </td>
          </tr>

          <tr>
            <td colspan="2">LSL</td>
            <td>
              <%= spec ? (Number(spec.cl_wt_spec || 0) - Number(spec.cl_wt_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.cl_ht_spec || 0) - Number(spec.cl_ht_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.cl_kn_spec || 0) - Number(spec.cl_kn_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.thickness || 0) - Number(spec.thickness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.top_flatness || 0) - Number(spec.top_flatness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td></td>
            <td>
              <%= spec ? (Number(spec.cl_wt_spec || 0) - Number(spec.cl_wt_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.thickness || 0) - Number(spec.thickness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.top_flatness || 0) - Number(spec.top_flatness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td></td>
            <td>
              <%= spec ? (Number(spec.cl_wt_spec || 0) - Number(spec.cl_wt_spec_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.thickness || 0) - Number(spec.thickness_tol || 0)).toFixed(2) : '' %>
            </td>
            <td>
              <%= spec ? (Number(spec.top_flatness || 0) - Number(spec.top_flatness_tol || 0)).toFixed(2) : '' %>
            </td>
          </tr>

          <tr>
            <td colspan="2">MIN.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
          <tr>
            <td colspan="2">MAX.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
          <tr>
            <td colspan="2">AVG.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
          <tr>
            <td colspan="2">RANGE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
           
          <tr>
            <td>SL. NO.</td>
            <td>CL. NO.</td>
            <td>In. gm</td>
            <td>In. mm</td>
            <td>In. mm</td>
            <td>In. mm</td>
            <td>In. mm</td>
            <td>CL. NO.</td>
            <td>In. gm</td>
            <td>In. mm</td>
            <td>In. mm</td>
            <td>CL. NO.</td>
            <td>In. gm</td>
            <td>In. mm</td>
            <td>In. mm</td>
          </tr>

        </tbody>



        <tbody id="report">
          <tr>
            <td>01</td>
            <td><input type="text" class="wt"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>02</td>
            <td><input type="text" class="wt"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>03</td>
            <td><input type="text" class="wt"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>04</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>05</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>06</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>07</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>08</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>09</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>10</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>11</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>12</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>13</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>14</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>15</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>16</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>17</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>18</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>19</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>20</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>21</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>22</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>23</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>24</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>25</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>26</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>27</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>28</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>29</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>30</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>31</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>32</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>33</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>34</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>35</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>36</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>37</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>38</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>39</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>40</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>41</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>42</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <td>43</td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          </tr>
          <tr>
            <td>44</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>45</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>46</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>47</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>48</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body">
      <table id="CCMdefectTable">
        <tbody>

        </tbody>
      </table>
      <table id="SFMdefectTable">
        <tbody></tbody>
      </table>

      <table id="TEbandperformace">
        <tbody></tbody>
      </table>
    </div>
    <div class="heading">
      <table class="tbCCM">
        <tbody>
          <tr>
            <td>Inspected By:</td>
            <td><input type="text" id="inspector1" value="" readonly />
            </td>
            <td>Inspected By:</td>
            <td><input type="text" id="inspector2" value="" readonly />
            </td>
            <td>Inspected By:</td>
            <td><input type="text" id="inspector3" value="<%= user  %>" readonly />
            </td>
          </tr>
          <tr>
            <td>Verified By:</td>
            <td colspan="6">
              <input type="text" id="verifedBy" value="" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    // let savedInspection = JSON.parse('<%- JSON.stringify(inspectionReportIncom || {}) %>');


    const table = document.querySelector("#report"); // your table element

    table.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        e.preventDefault(); // stop form submission or new line

        const currentInput = e.target;
        if (currentInput.tagName !== "INPUT") return;

        // find current cell (td) and row (tr)
        const currentCell = currentInput.closest("td");
        const currentRow = currentInput.closest("tr");
        const colIndex = [...currentRow.children].indexOf(currentCell);

        // find next row
        const nextRow = currentRow.nextElementSibling;
        if (nextRow) {
          const nextCell = nextRow.children[colIndex];
          if (nextCell) {
            const nextInput = nextCell.querySelector("input, select, textarea");
            if (nextInput) {
              nextInput.focus();
            }
          }
        }
      }
    });

  </script>



  <script src="/javascripts/dimensionForm.js">


  </script>
</body>

</html>