<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visual</title>
    <link rel="stylesheet" href="/stylesheets/inspection/visual.css">
  </head>

  <body>
    <div class="no-print">
      <%- include("../partials/visual") %>
    </div>
    <div class="visual">
      <div class="heading">
        <table class="tbCCM">
          <tbody>
            <tr>
              <td colspan="5" rowspan="2">
                Doc No. <br />  
                <%=docDetail? docDetail.docNo: ""%>
              </td>
              <td colspan="14">Secure Industries Pvt. Ltd. Hyderabad</td>
              <td colspan="5">Rev. No. <%=docDetail? docDetail.revNo: ""%></td>
            </tr>
            <tr>
              <td colspan="14"><%=docDetail? docDetail.docName: ""%></td>

              <td colspan="5">Rev. Dt. <%=docDetail? docDetail.revDt: ""%></td>
            </tr>
            <tr>
              <td colspan="3">Date</td>
              <td colspan="5" >
                <input
            type="text"
            id="date"
            name="date"
            required
          />
              </td>

              <td colspan="3">Design</td>
              <td colspan="5"><%=latestBatches? latestBatches.design : ''%></td>
              <td colspan="3" >Batch No.</td>
              <td colspan="5" id="batch_number"><%=latestBatches? latestBatches.batch_number : ''%></td>
            </tr>
            <tr>
              <td colspan="3">M/C No.</td>
              <td colspan="5" id="mc_no"><%=mcId? mcId:''%></td>
              <td colspan="3">Colour</td>
              <td colspan="5"><input type="text" value="<%=mb_detail? mb_detail.mb_colour : ''%>"></td>
              <td colspan="3">DB/EM/PL</td>
              <td colspan="5"><%=latestBatches? latestBatches.debossed : ''%></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="body">
        <table id="CCMdefectTable">
          <tbody>
            <tr>
              <td colspan="3"></td>
              <td colspan="7">
                <button id="shiftA" onclick="sendShiftData('shiftA')">
                  Shift A
                </button>
              </td>
              <td colspan="7">
                <button id="shiftB" onclick="sendShiftData('shiftB')">
                  Shift B
                </button>
              </td>
              <td colspan="7">
                <button id="shiftC" onclick="sendShiftData('shiftC')">
                  Shift C
                </button>
              </td>
            </tr>

            <tr>
              <td colspan="3">Time/Defect</td>
              <td><input type="text" id="t1" /></td>
              <td><input type="text" id="t2" /></td>
              <td><input type="text" id="t3" /></td>
              <td><input type="text" id="t4" /></td>
              <td colspan="3">Remarks</td>
              <td><input type="text" id="t5" /></td>
              <td><input type="text" id="t6" /></td>
              <td><input type="text" id="t7" /></td>
              <td><input type="text" id="t8" /></td>
              <td colspan="3">Remarks</td>
              <td><input type="text" id="t9" /></td>
              <td><input type="text" id="t10" /></td>
              <td><input type="text" id="t11" /></td>
              <td><input type="text" id="t12" /></td>
              <td colspan="3">Remarks</td>
            </tr>
          </tbody>
        </table>
        <table id="SFMdefectTable">
          <tbody></tbody>
        </table>

        <table id="TEbandperformace">
          <tbody></tbody>
        </table>
      </div>
      <div class="heading">
        <table class="tbCCM">
          <tbody>
            <tr>
              <td>Inspected By:</td>
              <td><input type="text" id="inspector1" value="" readonly  />
</td>
              <td>Inspected By:</td>
              <td><input type="text" id="inspector2" value="" readonly  />
</td>
              <td>Inspected By:</td>
              <td><input type="text" id="inspector3" value="<%= user  %>" readonly  />
</td>
            </tr>
            <tr>
              <td>Verified By:</td>
              <td colspan="6">
                <input
                  type="text"
                  id="verifedBy"
                  value=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <script>
  let savedInspection = JSON.parse('<%- JSON.stringify(inspectionReportIncom || {}) %>');
</script>



    <script src="/javascripts/visualForm.js">
      
      
    </script>
  </body>
</html>
